extends layout

block content
  h1 #{title}: #{category.name}
  p= category.description

  if category_instruments.length

    p #[strong Delete the following instruments before attempting to delete this category.]

    div

      h4 Instruments

      dl
      each instrument in category_instruments
        dt
          a(href=instrument.url) #{instrument.name}
        dd #{instrument.description}

  else
    p Do you really want to delete this category?

    form(method='POST' action='')
      div.form-group
        input#categoryid.form-control(type='hidden',name='categoryid', required='true', value=category._id )

      button.btn.btn-primary(type='submit') Delete